certifi==2020.12.5
chardet==4.0.0
click==7.1.2
elastic-enterprise-search==7.10.0b1
elastic-transport==0.1.0b0
elasticsearch==7.10.1
Flask==1.1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Pygments==2.7.4
PyJWT==2.0.0
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
