<div class="flex">
    <span class="mx-2"> <img id="img-like" class="like-icon w-10" src="/static/heroicons/optimized/solid/fire.svg" alt="Love this solution!"/> {{code_block['like']}}</span>
    <span class="mx-2"><img id="img-relate" class="w-10 like-icon" src="/static/heroicons/optimized/solid/sparkles.svg" alt="I've done something like this"> {{code_block['similar_code']}}
    </span>
    <span class="mx-2"><img id="img-piece" class="w-10 like-icon" src="/static/heroicons/optimized/solid/puzzle.svg" alt="This helped me think of a solution"> {{code_block['missing_piece']}}
    </span>
</div>
