{# Code for Ugly Code Submission Form #}
<form method="POST">
    <div class="my-4">
        <label class="flow-root font-bold my-3" for="#title">Title:</label>
        <input name="title" id="title" class="my-3 flow-root text-3xl p-2 rounded-lg shadow border w-3/4">
        <label class="flow-root font-bold my-3" for="#description">Description:</label>
        <textarea class="flow-root border rounded-lg my-3" id="description" name="description" cols="120" rows="10"></textarea>
        <label class="flow-root font-bold my-3"for="#code">Code:</label>
        <textarea class="flow-root border rounded-lg my-3" id="code" name="code" cols="120" rows="10"></textarea>
        <label class="flow-root font-bold my-3" for="#tags">Tags:</label><input class="mx-4 border rounded-lg shadow w-1/3" id="tags" type="text" name="tags">
        <input class="flow-root my-4 p-2 rounded-lg shadow-lg" type="submit">
    </div>
</form>
