{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class="text-4xl">Show off your ugly code!</h1>
    <div class="my-3 p-3 rounded border">
        <p>We all write code that we don't like or think is ugly. This is a place for that code you think is ugly. There are no comments. No judgements (only reassurance in heartform).</p>
    <h3 class="font-bold">Please do not include any code that includes security keys/passwords or any code that is proprietary.</h3>
    </div> 
</div> 
{% include 'submission_form.html' %}
{% endblock content %}
